<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/neo4j
    http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd">
    
    <neo4j:config base-package="de.ars.skilldb.domain" graphDatabaseService="graphDatabase" />
    <neo4j:repositories base-package="de.ars.skilldb.repository" />

    <bean id="graphDatabase"
        class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">
        <constructor-arg value="http://ismael.ars.de:7474/db/data/" index="0" />
    </bean>
    
    <bean id="knowledgeInteractor" class="de.ars.skilldb.interactor.impl.KnowledgeInteractorImpl" />
    <bean id="knowledgeCategoryInteractor" class="de.ars.skilldb.interactor.impl.KnowledgeCategoryInteractorImpl" />
    <bean id="skillInteractor" class="de.ars.skilldb.interactor.impl.SkillInteractorImpl" />
    <bean id="skillLevelInteractor" class="de.ars.skilldb.interactor.impl.SkillLevelInteractorImpl" />
    <bean id="userInteractor" class="de.ars.skilldb.interactor.impl.UserInteractorImpl" />
    <bean id="customerInteractor" class="de.ars.skilldb.interactor.impl.CustomerInteractorImpl" />
    <bean id="projectInteractor" class="de.ars.skilldb.interactor.impl.ProjectInteractorImpl" />
    <bean id="projectParticipationInteractor" class="de.ars.skilldb.interactor.impl.ProjectParticipationInteractorImpl" />
    <bean id="skillProofEdgeInteractor" class="de.ars.skilldb.interactor.impl.SkillProofEdgeInteractorImpl" />

</beans>
